<!DOCTYPE html>
<html>
  <head>
    <title>GemWatches</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="uk-hidden-small uk-margin-top uk-margin-bottom uk-vertical-align uk-container uk-container-center">
        <div class="uk-vertical-align-middle">
          <div class="uk-float-left"><i class="uk-icon-mobile"></i>  478 555 3943</div>
          <div class="uk-float-left uk-margin-large-left"><i class="uk-icon-at"></i> SUPPORT@GEMWATCHES.COM </div>
          <div class="uk-float-left uk-margin-large-left"><i class="uk-icon-map-marker"></i> 121 GEM WATCHES, NEW YORK, 30493 </div>
          <div class="uk-float-right">LOGIN</div>
        </div>
      </div>
      <nav class="uk-navbar uk-container uk-container-center">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="">adfsadsf</a></li>
          <li><a href="">adsfasd</a></li>
          <li class="uk-parent"><a href="">333</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
